<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .concluded {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">

    <task-form @add="addTask"></task-form>
    
    <task-list 
      description="Tarefas a fazer"
      empty="Nenhum tarefa cadastrada"
      :tasks="tasks">
      <task-item v-for="task in tasks" 
        :id="task.id"
        :categoria="task.categoria"
        :description="task.description"
        :concluded="task.concluded"
        :class="{
          concluded: task.concluded
        }"
        @delete="remove"
        ></task-item>
    </task-list>
    

    <task-list 
      description="Tarefas concluídas"
      empty="Nenhuma tarefa concluída"
      :tasks="concluidas">
      <task-item v-for="task in tasks" 
        :id="task.id"
        :categoria="task.categoria"
        :description="task.description"
        :concluded="task.concluded"
        :class="{
          concluded: task.concluded
        }"
        @delete="remove"
        ></task-item>
    </task-list>

  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="todo.js"></script>
</body>
</html>